<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      &#9776;
    </label>
    <label class="logo">UAA</label>
    <label class="logo2">ntojos</label>
    <ul>
        <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/registro" routerLinkActive="active">Registro</a></li>
        <li><a routerLink="/mapa" routerLinkActive="active">Mapa</a></li>
        <li><a routerLink="/vendedores" routerLinkActive="active">Vendedores</a></li>
        <li><a routerLink="/productos" routerLinkActive="active">Productos</a></li>
        <li><a routerLink="/carrito" routerLinkActive="active">Carrito</a></li>
      </ul>
  </nav>
  