body{
    color: #EADAA2; /* fondos */
    color: #241E4E ; 
    color: #FFD046;
    color: #960200
}
main {
    padding-top: 80px; }
    * {
        font-family: "Raleway", sans-serif;
      }
      